{
    "extends": [
        "airbnb",
        "plugin:prettier/recommended",
        "prettier/react",
        "eslint-config-prettier"
    ],
    "plugins": ["@typescript-eslint", "prettier", "eslint-plugin-prettier", "graphql"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "import/no-unresolved": 0,
        "import/extensions": ["off"],
        "no-unused-vars": "off",
        "import/prefer-default-export": [0],
        "react/prop-types": [0],
        "react/no-array-index-key": ["off"],
        "camelcase": "off",
        "import/no-extraneous-dependencies": ["off"],
        "react/jsx-filename-extension": [
            "warn",
            {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        ],
        "max-len": [
            "warn",
            {
                "code": 93,
                "tabWidth": 4,
                "ignoreComments": false,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }
        ]
    }
}
